.git
.github
.vs
.vscode
.tools
.artifacts
artifacts

**/bin
**/obj
**/node_modules
**/dist
**/test-results
playwright-report

*.db
*.db-shm
*.db-wal
*.log
*.trx
coverage*.xml
coverage*.json
coverage*.info
